// Font
@import url('https://fonts.googleapis.com/css?family=Lato');

// Variables 

// Character Colors
$izuku-button: #32AE96;
$bakugo-button: #DC7B4D;
$all-might-button: #F60C55;
$todoroki-button: #8A2F2D;
$naruto-button: #FDDE59;
$satou-button: #FDDE59;
$mikasa-button: #983135;
$eren-button: #983135;
$l-button: #000000;
$misaki-button: #C3BE6D;
$edward-button: #DA4A49;
$kakashi-button: #8A8F4C;
$violet-button: #E0C6B7;

// Characther Backgrounds
$izuku-background: url('./images/izuku_midoriya.png');
$bakugo-background: url('./images/katsuki_bakugo.jpg');
$all-might-background: url('./images/all_might.png');
$todoroki-background: url('./images/shoto_todoroki.jpg');
$naruto-background: url('./images/naruto_uzumaki.jpg');
$satou-background: url('./images/tatsuhiro_satou.jpg');
$mikasa-background: url('./images/mikasa_ackermann.jpg');
$eren-background: url('./images/eren_jaeger.jpg');
$l-background: url('./images/hEFk1Sf.jpg');
$misaki-background: url('./images/misaki_nakahara.jpg');
$edward-background: url('./images/edward_elric.jpg');
$kakashi-background: url('./images/kakashi_hatake.png');
$violet-background: url('./images/violet_evergarden.jpg');

// Border Color
$border: #ECEDEF;

// Mixins
@mixin push--auto {
    margin: {
      left: auto;
      right: auto;
    }
  }

@mixin vertical-align {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

@mixin buttons($width) {
  display: flex;
  align-items: center;
  justify-content: center;
  width: $width;
  height: 40px;
  background-color: $izuku-button;
  border: solid 2px $border;
  border-radius: 10px;

  &:hover {
    cursor: pointer;
    animation-name: size-up;
    animation-duration: 350ms;
    animation-fill-mode: forwards;
  }

  @keyframes size-up {
    100% {
      transform: scale(1.1)
    }
  }

}

@mixin svg($width) {
  svg {
    width: $width;
    fill: white;
  }
}

@mixin background {
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

body.izuku {
  background: $izuku-background;
@include background;
}
body.bakugo {
  background: $bakugo-background;
@include background;
background-position: right;
}
body.all-might {
  background: $all-might-background;
@include background;
}
body.todoroki {
  background: $todoroki-background;
@include background;
}
body.naruto {
  background: $naruto-background;
@include background;
}
body.satou {
  background: $satou-background;
@include background;
background-position: right;
}
body.mikasa {
  background: $mikasa-background;
@include background;

}
body.eren {
  background: $eren-background;
@include background;
}
body.l {
  background: $l-background;
@include background;
}
body.misaki {
  background: $misaki-background;
@include background;
background-position: right;
}
body.edward {
  background: $edward-background;
@include background;
}
body.kakashi {
  background: $kakashi-background;
@include background;
}
body.violet {
  background: $violet-background;
@include background;
}

// Normalizer
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
padding: 30px;
font-family: 'Lato', sans-serif;
height: 100vh;
overflow: hidden;
background-position: center;


    .container {
        @include push--auto;
        @include vertical-align;
        display: grid;
        grid-template-rows: 30% 40% 10% 20%;
        height: 45%;
        width: 55%;
        border: 1px solid black;
        background:rgba(255,255,255, 0.8);
        border-radius: 10px;

        .row-1{
          display: grid;
          grid-template-columns: 20% 80%;
          .c {
            display: flex;
  align-items: center;
  
  .quote-icon {
    padding-left: 8%;
    width: 70%;
  }
          }
       
        }

        .row-2 {
    display:flex;
    align-items: center; 
    justify-content: center; 
    margin: 5%;
        }

        .row-3 {
          .author {
            float: right;
          margin: 10px;
          }
        }

        .row-4 {

          .tweet-button {
            margin: 10px;
            float: left;
            @include buttons($width:22.5%);
            @include svg(2em);
          }  

          .next-button {
            margin: 10px;
            float: right;
            @include buttons($width: 8%);
            @include svg($width: 10px)
      
          }

        }

    }




}