// Font
@import url('https://fonts.googleapis.com/css?family=Lato');



// Characther Backgrounds
$izuku-bg: url('./images/izuku_midoriya.png');
$bakugo-bg: url('./images/katsuki_bakugo.jpg');
$all-might-bg: url('./images/all_might.png');
$todoroki-bg: url('./images/shoto_todoroki.jpg');
$naruto-bg: url('./images/naruto_uzumaki.jpg');
$satou-bg: url('./images/tatsuhiro_satou.jpg');
$mikasa-bg: url('./images/mikasa_ackermann.jpg');
$eren-bg: url('./images/eren_jaeger.jpg');
$l-bg: url('./images/hEFk1Sf.jpg');
$misaki-bg: url('./images/misaki_nakahara.jpg');
$edward-bg: url('./images/edward_elric.jpg');
$kakashi-bg: url('./images/kakashi_hatake.png');
$violet-bg: url('./images/violet_evergarden.jpg');


// List
$color-list: #32AE96 #DC7B4D #F60C55 #8A2F2D #FDDE59 #FDDE59 #983135 #983135 #000000 #C3BE6D #DA4A49 #8A8F4C #E0C6B7;
$char-list: (izuku bakugo all-might todoroki naruto satou mikasa eren l misaki edward kakashi violet);
$bg-list: (url('./images/izuku_midoriya.png') $bakugo-bg $all-might-bg $todoroki-bg $naruto-bg $satou-bg $mikasa-bg $eren-bg $l-bg $misaki-bg $edward-bg $kakashi-bg $violet-bg);

// Border Color
$border: #ECEDEF;

// Mixins
@mixin push--auto {
  margin: {
    left: auto;
    right: auto;
  }
}

@mixin vertical-align {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin buttons($width) {
  display: flex;
  align-items: center;
  justify-content: center;
  width: $width;
  height: 40px;
  border: solid 2px $border;
  border-radius: 10px;
  transition: all .5s;

  &:hover {
    cursor: pointer;
    transform: scale(1.1)
  }


}

@mixin svg($width) {

  .tweet-button,
  .next-button {
    fill: white;
    width: $width;
  }

  svg {
    
    width: $width;
  }
}

@mixin background {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

// Loop for unique classes
@for $i from 1 through length($char-list) {
  $color: nth($color-list, $i);
  $char: nth($char-list, $i);
  $bg: nth($bg-list, $i);

    .bg-#{$char} {
      background: #{$bg};
      @include background;
    }

    .elem-#{$char} {
      background-color: #{$color};
      fill: #{$color};
    }

    .tweet-button,
    .next-button {
      fill: white;
    }
  
    .quote-icon {
      background: none;
    }
}



// Normalizer
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 30px;
  font-family: 'Lato', sans-serif;
  height: 100vh;
  overflow: hidden;
  background-position: center;
  position: relative;

  .container {
    @include push--auto;
    @include vertical-align;
    display: grid;
    grid-template-rows: 30% 40% 10% 20%;
    height: 45%;
    width: 55%;
    border: 1px solid grey;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;

    @media screen and (max-width: 450px) {
      width: 80%;
      height: 75%;
    }

    .row-1 {
      display: grid;
      grid-template-columns: 20% 80%;

      .c {
        display: flex;
        align-items: center;

        .quote-icon {
          padding-left: 8%;
          width: 100%;
          height: 100%;
          transition: all .5s;
        }
      }

    }

    .row-2 {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 5%;

      .quote {
        @media screen and (max-width: 400px) {
          font-size: 12px;
        }
      }

    }

    .row-3 {
      .author {
        float: right;
        margin: 10px;
      }
    }

    .row-4 {

      .tweet-button {
        margin: 10px;
        float: left;
        @include buttons($width: 22.5%);
        @include svg(2em);
      }

      .next-button {
        margin: 10px;
        float: right;
        @include buttons($width: 8%);
        @include svg($width: 10px)
      }
    }
  }
}